body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size: 40px;
    color: rgb(83, 81, 81);
}
h2{
    color: rgb(83, 81, 81);
}
h3{
    color: rgb(83, 81, 81);
}
span{
    color: orange;
}
.flex-container{
    display: flex;
}
.half-width{
    width: 50%;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 20px;
    background-image: linear-gradient(orange, tomato);
}

/* Specific Style for Header Section Start*/
#top-banner-left{
    padding: 150px;
}
#top-banner-right{
    padding: 90px 100px 0 0;
}
#top-banner-img-id{
    width: 100%;
}
.top-banner div p{
    margin-bottom: 40px;
}
/* Specific Style for Header Section End*/

/* Specific style for About Me Section */
.about-me{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#about-me-img-id{
    width: 66%;
    
}
#about-me-left{
    padding: 100px 0 30px 220px;
}
#about-me-right{
    padding: 150px 150px 10px 100px;
}
.about-me .half-width p{
    margin-bottom: 50px;
}
.about-me .half-width .link-button{
    padding: 15px 40px;
}
/* Specific Style for About Me Section End */

/* Specific Style for Recepies Section Start*/

.recepies{
    margin-top: 0;
}
.recepies-header{
    padding-bottom: 20px;
    text-align: center;
}
.third-width{
    width:25%;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.288);
    border: 1px solid transparent;
    border-radius: 30px;
    box-shadow: 3px 2px 10px 10px rgba(128, 128, 128, 0.219);
    margin-left: 5%;
    padding: 2%;
}
.third-width:last-child{
    margin-right: 5%;
}
.third-width img{
    width: 100%;
    border-radius: 20px;
}
#recepies-p{
    text-align: justify;
    padding: 0 400px 0 400px;
}
#recepies-img-id{
    height: 55%;
}
.third-width p{
    text-align: left;
}
/* Specific Style for Recepies Section End*/

/* Specific Style for Gallery Section Start */
    .gallery{
        margin-top: 50px;
        text-align: center;
        background-image: url(images/shapes/Frame\ 57.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .gallery h2{
        padding-top: 10px;
    }
    .gallery div{
        margin-bottom: 50px;
    }
    .gallery div:last-child{
        margin-bottom: 1px;
    }
    .gallery img{
        text-align: center;
        width: 20%;
        height: 250px;
        margin-left: 4%;
        border-radius: 10px;
    }

/* Specific Style for Gallery Section End */

/* Specific Style for Footer Section Start */
    footer{
        background-color: black;
        text-align: center;
        padding: 20px 0 80px 0;
    }
    footer p{
        color: white;
    }
/* Specific Style for Footer Section End */